.speech{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
}

.stagedirections{
    font-family: serif;
    font-size: 19px;
    color: black;
    background-color: lightgreen;
}

.name{
    font-family: Garamond;
    font-size: 20px;
    color: red;

}
